
<nav class="navbar navbar-default navbar-expand-lg" style="background-color: rgb(133, 125, 197)">
  <div class="container">
      <a class="navbar-brand active " href="#">Good Tender</a>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" href="#"routerLink="Home">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#"routerLink="abbc">Sign Up </a></li>
      <li class="nav-item"><a class="nav-link" href="#"routerLink="product">product</a></li>
      <li class="nav-item"><a class="nav-link" href="#"routerLink="dashboard">dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="#"routerLink="search">search</a></li>
      <li class="nav-item"><a class="nav-link" href="#"routerLink="customer">Customer</a></li>

    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
