<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <h2>Find new sales in the public sector</h2>
                  <p>
                      Millions of public tenders and bidding contests all over World
                  </p>

              </div>
          </div>
      </div>
  </div>
    <div>
        <figure>
            <button type="button" class="btn btn-info">TRY IT OUT</button>
          </figure>
    </div>

